.link-dark
  color: black
  text-decoration: underline

.Info
  &__expand 
    margin-bottom: 16px
    text-decoration: underline
    font-size: 14px
    text-transform: uppercase
  
  &__details
    display: none

    &--open
      display: block