.absolute
  position: absolute
  z-index: 100

input
  font-size: 2rem
  padding: 10px
  width: 100%
  box-sizing: border-box

.suggestion-item
  font-size: 2rem
  padding: 10px
  width: 100%

.suggestion-item--active
  font-size: 2rem
  padding: 10px
  width: 100%