.Sidebar
    position: fixed
    top: 0
    left: 0
    z-index: 999
    height: 100vh
    width: 84vw
    transform: translateX(calc(-100% + 16px))
    transition: transform .3s ease
    background: white
    padding: 20px
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)

    &--open
        transform: translateX(0)
        
    &__handle
        $handle-height: 40px

        position: absolute
        top: calc(50% - #{$handle-height / 2})
        right: -20px
        width: 20px
        height: $handle-height
        background-color: yellow
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)