.App {
  background-color: #4248a0;
}

.header {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  padding: 10px;
  font-size: 2rem;
  color: white;
  background-color: #ff8063;
  text-decoration: none;
}
