.App {
  text-align: center;
  background-color: #4248a0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
}

.button {
  border: none;
  padding: 20px 40px;
  font-size: 3rem;
  color: white;
  background-color: #ff8063;
  text-decoration: none;
}
