.App
  background-color: #4248a0

  &__sidebar


.button 
  border: none
  padding: 10px
  font-size: 1.5rem
  width: 100%
  border: 2px solid black
  border-radius: 2px
  color: yellow
  margin-bottom: 16px
  background-color: black
  text-decoration: none
  cursor: pointer

.button-small
  border: 2px solid black
  text-transform: uppercase
  background: white
  color: black
  font-size: 1rem
  font-weight: 600
  margin-bottom: 30px

  &::before
    content: "\2190"
    margin-right: 10px


.help 
  width: calc(100% - 40px)
  position: absolute
  left: 20px
  bottom: 6px

input.DateInput_input
  font-weight: 500
  color: #0a0a0a

.Datepicker 
  margin-bottom: 16px

  .SingleDatePicker,
  .SingleDatePickerInput, 
  .DateInput
    width: 100%


.footer 
  color: yellow
  text-align: center
  font-size: 14px
  height: 26px
  background: black

.link-to-authors 
  padding: 0 6px
  text-decoration: underline

.emoji 
  padding: 0 6px

.Timepicker
  font-size: 1.2rem
  padding: 10px
  width: 100%
  border-radius: 2px
  border: 1px solid #dbdbdb
  margin-bottom: 16px
  height: 48px
  background: white

.form-row
  display: flex

  .Timepicker
    margin-left: 16px
    width: 180px

.directions-view
  max-height: 83vh
  overflow: auto
